#level-wrapper ul li button.active {
  background: #154734;
}

#sidebar #sidebar-footer {
  border-top-color: #154734;
}

#sidebar .content .category-nav .prev {
  color: #154734;
}

.dropdown-container .arrow {
  border-top-color: #154734;
}

input[type="text"]:focus,
input[type="text"]:active {
  border-bottom: 1px solid #154734;
  box-shadow: 0 1px 0 0 #154734;
}

input[type="number"]:focus,
input[type="number"]:active {
  border-bottom: 1px solid #154734;
  box-shadow: 0 1px 0 0 #154734;
}

textarea:focus {
  border-bottom: 1px solid #154734;
  box-shadow: 0 1px 0 0 #154734;
}

select:focus {
  border-bottom: 1px solid #154734;
  box-shadow: 0 1px 0 #154734;
}

#sidebar .content #sidebar-tools #list-sort {
  color: #154734;
}

#sidebar .content #sidebar-tools #select-all {
  color: #154734;
}

#sidebar .content .content-wrapper ul>li.category .radio-ctl.on,
#sidebar .content .content-wrapper ul>li.transit-item .radio-ctl.on {
  border: 2px solid #154734;
}

#sidebar .content .content-wrapper ul>li.category .radio-ctl.on:after,
#sidebar .content .content-wrapper ul>li.transit-item .radio-ctl.on:after {
  background: #154734;
}

.zoom-container .rangeslider .rangeslider__fill {
  background-color: #154734;
}

body.lg-inline-on .gallery-wrapper .gallery button.active {
  color: #154734;
}

body.lg-inline-on .gallery-wrapper .gallery button.active:before {
  color: #154734;
}

body.lg-inline-off #bln-shell .bln-modal .scroll-wrapper .gallery-wrapper .gallery-media-btns button.active {
  border-bottom: 3px solid #154734;
}

body.lg-inline-on #bln-shell .bln-modal .scroll-wrapper .gallery-wrapper .gallery-media-btns button.active {
  border-top: 3px solid #154734;
}

body.lg-inline-on .infowindow-background #bln-holder #bln-shell .bln-modal .scroll-wrapper .gallery-wrapper .gallery-media-btns button.active {
  border-top: 3px solid #154734;
}

body.lg-inline-on .leaflet-popup-content #bln-holder #bln-shell .bln-modal .scroll-wrapper .gallery-wrapper .gallery-media-btns button.active {
  border-top: 3px solid #154734;
}

body.lg-inline-on .mapboxgl-popup-content #bln-holder #bln-shell .bln-modal .scroll-wrapper .gallery-wrapper .gallery-media-btns button.active {
  border-top: 3px solid #154734;
}

.snackbar .progress {
  background-color: #154734;
}

#mapspacer-extension .info-window.full-page .breakout-wrapper button.current {
  background: #154734 !important;
}

#mapspacer-extension .info-window.full-page .breakout-wrapper button:hover {
  background: hsl(157.20000000000005, 54.3%, 19.8%) !important;
}

#mapspacer-extension .info-window.full-page .breakout-wrapper button.breakout-view-full {
  color: #154734 !important;
}

#mapspacer-extension .info-window.full-page .breakout-wrapper button.breakout-view-full:hover {
  background: transparent !important;
}

#mapspacer-extension .info-window.mapspacer.rfp-info form .field-group.required:not(.not-required) legend:after,
#mapspacer-extension .info-window.mapspacer.rfp-info form .field-group.required:not(.not-required) label:not(.not-required):after {
  color: #154734 !important;
}

#mapspacer-extension .info-window.mapspacer.rfp-info form .field-group.required:not(.not-required) label.required:after {
  color: #154734 !important;
}

.mapspacer-balloon .mapspacer-mode {
  border-top: 2px solid #154734 !important;
}

#mapspacer-extension .info-window.mapspacer.full-page .content .resources-wrapper .view-as button:not(.active) {
  border: 1px solid #154734;
  color: #154734;
}

#mapspacer-extension .info-window.mapspacer.full-page .content .resources-wrapper .view-as button.active {
  background: #154734;
  border: 1px solid #154734;
}

#mapspacer-extension .info-window.mapspacer.rfp-info form .field-group.required:not(.not-required) legend:after,
#mapspacer-extension .info-window.mapspacer.rfp-info form .field-group.required:not(.not-required) label:not(.not-required):after {
  color: #154734;
}

#mapspacer-extension .info-window.mapspacer.mssearch.search-modal .info-menu #close:before,
#mapspacer-extension .info-window.mapspacer.rfp-info .info-menu #close:before {
  border-color: #154734 !important;
}
}

@media all and (-ms-high-contrast:none),
(-ms-high-contrast:active) {
  body.lg-inline-on .gallery-wrapper .gallery button.active {
    color: #154734 !important;
    ;
  }

  body.lg-inline-on .gallery-wrapper .gallery button.active:before {
    color: #154734 !important;
  }

  body.lg-inline-off .gallery-wrapper .gallery-media-btns button.active {
    border-bottom: 3px solid #154734 !important;
  }

  body.lg-inline-on #bln-shell .bln-modal .gallery-wrapper .gallery-media-btns button.active {
    border-top: 3px solid #154734 !important;
  }
}

.table-wrapper .table-scroll-wrapper table.jsonTable {
  border-color: #154734;
}

.table-wrapper .table-scroll-wrapper table.jsonTable .jsonHeader {
  background-color: #154734;
}

.table-wrapper .table-scroll-wrapper table.jsonTable .jsonColumn {
  border-color: #154734;
}

.table-wrapper .table-scroll-wrapper table.jsonTable .jsonCell {
  border-color: #154734;
}

.table-wrapper .table-scroll-wrapper table.jsonTable .jsonOdd {
  background-color: hsl(157.20000000000005, 54.3%, 27.1%);
}

.table-wrapper .table-scroll-wrapper table.jsonTable .jsonOdd:hover {
  background-color: hsl(157.20000000000005, 54.3%, 26.2%);
}

@media screen and (max-width: 1024px) {
  .map-controls .md-content .main-content .item #map-bar .mb-btn.active {
    background-color: #154734;
  }

  .map-controls .md-content .main-content .item #map-bar .mb-btn {
    border: 1px solid #154734;
    color: #154734;
  }
}

.md-modal.mobile-bar .close-btn {
  background: #154734;
}

.md-modal.mobile-bar .main-content input:checked+.slider {
  background-color: hsl(157.20000000000005, 54.3%, 23.5%);
}

.md-modal.mobile-bar .main-content input:checked+.slider:before {
  background-color: #154734;
}

.mobile-bar.map-links .header-buttons .prev,
.mobile-bar.map-links .header-buttons .prev:after {
  color: #154734;
}

#mobile-bar.container button.selected,
#mobile-bar.container div.selected {
  color: #154734;
}

.radio-group ul li input[type=radio]:checked~.check {
  border: 2px solid #154734;
}

.radio-group ul li input[type=radio]:checked~.check:before {
  background: #154734;
}

#directions #direction-details header {
  background-color: hsl(157.20000000000005, 54.3%, 22.5%);
}

select:focus {
  border-bottom: 1px solid #154734;
  box-shadow: 0px 1px 0px #154734;
}

.dropdown-container .dropdown-option {
  color: #154734;
}

#sidebar #content.content {
  background-color: #f1f1f1;
}

#sidebar .content #sidebar-locations .root-category .location-list {
  background-color: #f1f1f1;
}

#sidebar .content #sidebar-transit .transit-transition .transit-list {
  background-color: #f1f1f1;
}

#sidebar .content .content-wrapper ul>li.category {
  color: #4a4a4a;
}

#sidebar .content .content-wrapper ul>li.category ul li {
  color: #4a4a4a;
}

#sidebar .content .content-wrapper ul>li.tour {
  color: #4a4a4a;
}

#sidebar .content .content-wrapper ul>li.tour-group {
  color: #4a4a4a;
}

#sidebar .content .content-wrapper ul>li.transit-item {
  color: #4a4a4a;
}

#sidebar .content .content-wrapper ul>li.category:hover {
  color: #e87500;
}

#sidebar .content .content-wrapper ul>li.category ul li:hover .name {
  color: undefined;
}

#sidebar .content .content-wrapper ul>li.tour:hover {
  color: #e87500;
}

#sidebar .content .content-wrapper ul>li.tour-group:hover {
  color: #e87500;
}

#sidebar .content .content-wrapper ul>li.transit-item:hover {
  color: #e87500;
}

#sidebar .content .content-wrapper ul>li.category:hover .hover-div {
  background-color: #ffffff;
}

#sidebar .content .content-wrapper ul>li.category:active .hover-div {
  background-color: hsl(0, 0%, 90%);
}

#sidebar .content .content-wrapper ul>li.tour:hover {
  background-color: #ffffff;
}

#sidebar .content .content-wrapper ul>li.tour-group:hover {
  background-color: #ffffff;
}

#sidebar .content .content-wrapper ul>li.transit-item:hover {
  background-color: #ffffff;
}

#sidebar .content .content-wrapper ul>li.category:hover .expanded-category ul li.category .hover-div {
  background-color: #f1f1f1;
}

#sidebar .content .content-wrapper ul>li.category:hover .expanded-category ul li.category:hover .hover-div {
  background-color: #ffffff;
}

#sidebar .content .content-wrapper ul>li.category .toggle-ctl {
  background-color: #cccccc;
}

#sidebar .content .content-wrapper ul>li.transit-item .toggle-ctl {
  background-color: #cccccc;
}

#sidebar .content .content-wrapper ul>li.category .toggle-ctl.on {
  background-color: #4a4a4a;
}

#sidebar .content .content-wrapper ul>li.transit-item .toggle-ctl.on {
  background-color: #4a4a4a;
}

#sidebar .content .content-wrapper ul>li.category .toggle-ctl:after {
  color: #ffffff;
}

#sidebar .content .content-wrapper ul>li.transit-item .toggle-ctl:after {
  color: #ffffff;
}

#sidebar .content .content-wrapper ul>li.location {
  color: #4a4a4a !important;
}

#sidebar .content .content-wrapper ul>li.location:hover {
  color: #e87500 !important;
}

#sidebar .content .content-wrapper ul>li.location {
  background-color: #ffffff;
}

#sidebar .content .content-wrapper ul>li.location:hover {
  background-color: #dddddd;
}

#sidebar .content .content-wrapper ul>li.location:active {
  background-color: hsl(0, 0%, 78%);
}

#sidebar .content .content-wrapper #sidebar-locations.has-drilldown ul>li.location {
  color: #4a4a4a;
}

#sidebar .content .content-wrapper #sidebar-locations.has-drilldown ul>li.location:hover {
  color: #e87500;
}

#sidebar .content .content-wrapper #sidebar-locations.has-drilldown ul>li.location {
  background-color: #ffffff;
}

#sidebar .content .content-wrapper #sidebar-locations.has-drilldown ul>li.location:hover {
  background-color: #dddddd;
}

#balloon-wrapper,
#balloon-content {
  background-color: #ffffff !important;
}

.gallery-media-btns {
  background-color: #ffffff !important;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background-color: #ffffff !important;
}

.balloon-tools,
.balloon-tools .btn,
.gallery-media-btns,
.gallery-media-btns button,
.gallery-media-btns button:before {
  color: #6a6a6a !important;
}

.balloon-tools *:hover,
.balloon-tools .btn:hover,
.gallery-media-btns button:hover,
.gallery-media-btns button:hover:before {
  color: #2560a6 !important;
}

.balloon-tools *.active,
.balloon-tools .btn.active,
.gallery-media-btns .active,
.gallery-media-btns .active:before {
  color: #2560a6 !important;
}

body.lg-inline-on .leaflet-popup-content #bln-holder #bln-shell .bln-modal .scroll-wrapper .gallery-wrapper .gallery-media-btns button.active {
  border-top: 3px solid #2560a6 !important;
}

body.lg-inline-on .leaflet-popup-content #bln-holder #bln-shell .bln-modal .scroll-wrapper .gallery-wrapper .gallery-media-btns button:hover {
  border-top: 3px solid #2560a6 !important;
}

#bln-shell .balloon-description {
  color: #4a4a4a !important;
}

.bln-modal .bln-header .location-title {
  color: #4a4a4a;
}

.bln-modal .bln-header .location-title {
  background-color: #ffffff;
}

.gallery-wrapper {
  background: #000000;
}

#sidebar .content .content-wrapper #sidebar-transit .transit-info-item {
  color: #4a4a4a !important;
}

#sidebar .content .content-wrapper #sidebar-transit .transit-info-item:hover {
  color: #e87500 !important;
}

#sidebar .content .content-wrapper #sidebar-transit .transit-info-item {
  background-color: #ffffff;
}

#sidebar .content .content-wrapper #sidebar-transit .transit-info-item:hover {
  background-color: #dddddd;
}

.marker-label {
  color: #e8e8e8;
}

.marker-label {
  background-color: rgba(51, 51, 51, 0.9);
}

.marker-label {
  border-color: #454545;
}

#sidebar .btn {
  border-bottom-color: #000000;
}

#sidebar.no-image .btn {
  border-bottom-color: #000000;
}

#sidebar .btn.on {
  border-bottom-color: #cccccc;
}

#sidebar.no-image .btn.on {
  border-bottom-color: #cccccc;
}

#sidebar .btn:hover {
  border-bottom-color: #cccccc;
}

#sidebar.no-image .btn:hover {
  border-bottom-color: #cccccc;
}

#sidebar .btn {
  color: #cccccc;
}

#sidebar.no-image .btn {
  color: #cccccc;
}

#sidebar .btn.on {
  color: #ffffff !important;
}

#sidebar.no-image .btn.on {
  color: #ffffff !important;
}

#sidebar .btn:hover {
  color: #ffffff;
}

#sidebar.no-image .btn:hover {
  color: #ffffff;
}

button {
  color: #ffffff;
}

.dropdown-container .arrow {
  border-top-color: #ffffff;
}

button:hover:not(:disabled) {
  color: #ffffff;
}

button {
  background-color: #154734;
}

button:hover:not(:disabled) {
  background-color: #e87500;
}

button:active:not(:disabled) {
  background-color: hsl(30.30000000000001, 100%, 40.9%);
}

button:disabled:hover {
  color: #ffffff;
}

button:disabled:hover {
  background-color: #154734;
}

button.outline {
  border-color: #e87500;
  color: #e87500;
}

button.outline:hover:not(:disabled) {
  background-color: #e87500;
}

button.outline:hover {
  color: #ffffff !important;
}

button.outline:active:not(:disabled) {
  background-color: hsl(0, 0%, 90%);
}

#sidebar #sidebar-footer {
  color: #ffffff;
}

#sidebar #sidebar-footer {
  background-color: #154734;
}

#hamburger span {
  background-color: #154734;
}

#header-wrapper #header button[name~="search"] {
  color: #154734;
}

#header-wrapper #header button[name~="printMap"] {
  color: #154734;
}

#header-wrapper #header button[name~="help"] {
  color: #154734;
}

#header .right .gtv-container .gtv-button {
  color: #154734;
}

#hamburger:hover span {
  background-color: #e87500;
}

#hamburger:active span {
  background-color: hsl(30.30000000000001, 100%, 40.9%);
}

#header-wrapper #header button[name~="search"]:hover {
  color: #e87500;
}

#header-wrapper #header button[name~="search"]:active {
  color: hsl(30.30000000000001, 100%, 40.9%);
}

#header-wrapper #header button[name~="printMap"]:hover {
  color: #e87500;
}

#header-wrapper #header button[name~="printMap"]:active {
  color: hsl(30.30000000000001, 100%, 40.9%);
}

#header-wrapper #header button[name~="help"]:hover {
  color: #e87500;
}

#header-wrapper #header button[name~="help"]:active {
  color: hsl(30.30000000000001, 100%, 40.9%);
}

#header .right .gtv-container .gtv-button:hover {
  color: #e87500;
}

#header .right .gtv-container .gtv-button:active {
  color: hsl(30.30000000000001, 100%, 40.9%);
}

#tvt .md-content #tvt-wrapper #tvt-header .tvt-header-text h1 {
  color: #4a4a4a;
}

#tvt .md-content #tvt-wrapper #tvt-header .tvt-header-text p {
  color: #4a4a4a;
}

#tvt .md-content #tvt-wrapper {
  background-color: #f1f1f1;
}

a,
a:visited {
  color: #c95100;
}

a:active {
  color: hsl(24.19999999999999, 100%, 31.5%);
}

button.icon:not(:disabled) {
  color: #c95100;
}

button.icon:not(:disabled):before {
  color: #c95100;
}

a:hover {
  color: #c95100;
}

a:active {
  color: hsl(24.19999999999999, 100%, 35.5%);
}

button.icon:hover:not(:disabled) {
  color: #c95100;
}

button.icon:hover:not(:disabled):before {
  color: #c95100;
}

button.icon:active:not(:disabled) {
  color: hsl(24.19999999999999, 100%, 35.5%);
}

button.icon:active:not(:disabled):before {
  color: hsl(24.19999999999999, 100%, 35.5%);
}

#sidebar #sidebar-header-title {
  background-color: #ffffff;
}

#map {
  background-color: #dddddd;
}

#map:after {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 100%);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00000000", endColorstr="#40000000", GradientType=0);
  ;
}

#map .gm-style:after {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 100%);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00000000", endColorstr="#40000000", GradientType=0);
  ;
}